{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <!-- start of hero -->
    <section class="hero hero-style-1" xmlns="http://www.w3.org/1999/html">
        <div class="hero-slider">
            <div class="slide">
                <div class="container">
                    <div class="row">
                        <div class="col col-md-7 slide-caption">
                            <div class="slide-title">
                                <h2>Accompagnement <span><br/>des enfants <br/>Handicapés</span></h2>
                            </div>
                            <div class="slide-subtitle">
                                <p>Pamesdi a pour but de trouver des <br/>solutions pour aider, éduquer et accompagner ces jeunes enfants à déficience mentale</p>

                            </div>
                            <div class="btns">
                                <a href="donate.html" class="theme-btn">Faire un Don</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right-vec">
                </div>
            </div>
        </div>
    </section>
    <!-- end of hero slider -->
    <div class="wpo-about-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 colsm-12">
                    <div class="wpo-about-text">
                        <div class="wpo-section-title">
                            <span>Que faisons nous?</span>
                            <h2>PAMESDI est une ONG nationale qui a pour missions entre autres :</h2>
                        </div>
                       <h4>➔	Mission d’insertion sociale des déficients intellectuels.<br/>
                           ➔	Mission d'accueil et de conseil<br/>
                           ➔	Mission de partage et de rencontre<br/>
                           ➔	Mission d'accompagnement<br/>
                           ➔	Mission de sensibilisation et de plaidoyer<br/>
                       </h4>
                        <br/>
                        <div class="wpo-section-title">
                        <span> Les Objectifs assignés à cette ONG étaient :</span>
                        </div>
                        <p style="margin-top: -20px">D’intégrer les enfants déficients intellectuels dans leur milieu en respectant leurs stades de développement, leur rythme d’évolution et d’apprentissage ;
                            D’amener les enfants déficients intellectuels au maximum de leurs potentialités et développer leurs capacités de communication ;
                            D’aider les enfants déficients intellectuels dans l’acquisition de leur autonomie ;
                            D’aider à trouver leur place dans le milieu social ;
                            D’établir et entretenir des relations de coopération avec toutes association, ONG et institution au niveau national et international poursuivant les mêmes buts ;</p>

                    </div>
                </div>
                <div class="col-lg-6 col-md-6 colsm-12">
                    <div class="wpo-about-img-3">
                        <img src="assets/images/about3.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
