{% extends 'base.html.twig' %}

{% block body %}

{% endblock %}

{% block title %}

    <div class="wpo-about-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 colsm-12">
                    <div class="wpo-about-text">
                        <div class="wpo-section-title">
                            <span>What We Do?</span>
                            <h2>We Are In A Mission To Help The Helpless</h2>
                        </div>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there.</p>
                        <p>Thing embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, </p>
                        <div class="btns">
                            <a href="#" class="theme-btn" tabindex="0">Donate Now</a>
                            <ul>
                                <li class="video-holder">
                                    <a href="https://www.youtube.com/embed/iSbzh0r9IV4?autoplay=1" class="video-btn" data-type="iframe" tabindex="0"></a>
                                </li>
                                <li class="video-text">
                                    <a href="https://www.youtube.com/embed/iSbzh0r9IV4?autoplay=1" class="video-btn" data-type="iframe" tabindex="0">
                                        Watch Our Video
                                    </a>

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 colsm-12">
                    <div class="wpo-about-img-3">
                        <img src="assets/images/about3.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

